[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RLRsim"]
	path = RLRsim
	url = https://github.com/fabian-s/rlrsim
[submodule "spikeSlabGAM"]
	path = spikeSlabGAM
	url = https://github.com/fabian-s/spikeslabgam
